html{
  height:100%;
  width:100%;
  font-size:100%;
  line-height:1;
  font-size:14px;
  -ms-text-size-adjust:100%;
  -moz-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
    background-color:#F5F5F5;
}
/* HEADER */
header{
    position: relative;
    width: 1440px;
    height: 50px;
    left: 0px;
    top: 45px;  
    display: flex;
    flex-flow: row nowrap;
    /* justify-content: flex-start; */
    align-items: center; 
    justify-content: center;
}
/* Footer */
footer
{
    position: absolute;
    width: 1440px;
    height: 254px;
    left: 0px;
    top: 1949px;
}

/* Размеры иконок */
.logo-size
{
    width: 46px;
    height: 46px; 
}

/* ГЛАВНЫЙ ЛОГОТИП */
.logo-size-common
{
    display:block;
    width:  408px;
    height: 118px;
}

.logo-size-block{
    display:flex;
    align-items:center;
    justify-content: center;
    width:100%;
    height:100%;
    top: 100%;
    left: 100%;
}

/* Навигация в шапке */
.nav {
  flex-grow: 1;
  top: 50%;
  left: 50%;
  margin-right: 0 auto;
}
.nav ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 18px;
    list-style: none;
  }

  .nav li {
    margin-right: 30px;
  }
  .nav li:last-child {
    margin-right: 0;
  }

.nav a {
    padding: 8px 10px;
    color: #000;
    text-decoration: none;
  }

.nav a,
.nav .active {  
  display: inline-block;
  padding: 30px 30px 30px 30px;
  text-transform: uppercase;
  letter-spacing: .27em;
}

.nav .active {
    color: #fff;
    background-color: #488BFE;
    border-radius: 8px;
  }

.logo {
    margin-right: 40px;
}

section
{
    display: flex;
    flex-direction: column;
    justify-content: center;	
    padding: auto;
    width: 100%;
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
}

/* Форма заказа */
